:root {
    --board-size: min(70dvh,70dvw);
    --piece-shadow: var(--text);
    --piece-hover-shadow: #210;
    --gem-hover-shadow: #214;
}
/* #board-root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-4);
} */

#chessboard {
    margin-bottom: 10dvh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:    repeat(8, 1fr);

    
    width: var(--board-size);
    height: var(--board-size);

    padding: 10px;
    background-color: var(--primary-4);
}

.chess-tile:nth-child(16n + 1),
.chess-tile:nth-child(16n + 3),
.chess-tile:nth-child(16n + 5),
.chess-tile:nth-child(16n + 7),
.chess-tile:nth-child(16n + 10),
.chess-tile:nth-child(16n + 12),
.chess-tile:nth-child(16n + 14),
.chess-tile:nth-child(16n + 16){
    background-color: var(--primary-2);
}
.chess-tile {
    aspect-ratio : 1 / 1;
    background-color: var(--primary-3);
    /* border: min(.8dvw,.8dvh) solid var(--primary-3); */
    margin: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    font-size: min(3.5dvh,3.5dvh);
    font-family: monospace;
    font-weight: bolder;

    &:hover {background-color: var(--primary-4);}
    /* &:active {background-color: var(--primary-5);} */
}
.chess-tile > img {
    height: 100%;
    margin: -30vw;
    object-fit: contain;
    /* filter: drop-shadow(min(.2dvw,.2dvh) 0px min(.2dvw,.2dvh) var(--piece-shadow) ); */

    /* &:hover, &:active {filter: drop-shadow(4px 0px 2px var(--piece-hover-shadow) );} */
}
