#game-root {
    /* padding: 2dvh 5dvw 15dvw 2dvh; */
    width: 100dvw;
    height: 100dvh;

    display: grid;
    grid-template:
        "head head" 0.2fr
        "left right" 10fr
        "foot foot" 0.2fr / 1fr 1fr;
}
#main-navbar {
    grid-area: head;
}
#game-body {
    grid-area: body;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#main-footer {
    grid-area: foot;
}

#game-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#game-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}