#game-root {
    grid-template:
        "head head" 0.2fr
        "left right" 10fr
        "foot foot" 0.3fr / 10fr 6fr;
}

#main-navbar {
    grid-area: head;
}

#main-footer {
    grid-area: foot;
}

#game-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#game-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}