.light-theme {
    --background: #f2daff;
    --secondary: #e2bcf1;
    --tertiary: #d7ace9;
    --focus: #c28fd6;

    --border-1: #d074f5;
    --border-2: #974eb4;

    --text: #3b134b;
}

.dark-theme {
    --background: #170520;
    --secondary: #290d36;
    --tertiary: #3e1850;
    --focus: #602279;

    --border-1: #563264;
    --border-2: #796581;

    --text: #b89ac4;
}
