
#board-root {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:    repeat(8, 1fr);

    padding: 10%;
    

    background-color: var(--semifocus);
}

.chess-tile {
    background-color: var(--darktile);
    border: 2px solid var(--inner-border);
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5em;
    font-family: monospace;
    font-weight: bolder;
    user-select: none;
}

.chess-tile:nth-child(16n + 1),
.chess-tile:nth-child(16n + 3),
.chess-tile:nth-child(16n + 5),
.chess-tile:nth-child(16n + 7),
.chess-tile:nth-child(16n + 10),
.chess-tile:nth-child(16n + 12),
.chess-tile:nth-child(16n + 14),
.chess-tile:nth-child(16n + 16){
    background-color: var(--lighttile);
}

.chess-tile:hover {
    background-color: var(--hovertile);
}
.chess-tile:active {
    background-color: var(--clicktile);
}
