#menu-root {
    display: grid;
    background-color: var(--focus);

    grid-template-rows: repeat(10, 1fr);
}

.menu-button {
    margin: 3%;
    border: 3px solid var(--outer-border);
    background-color: var(--button);
}
.menu-button:hover {
    background-color: var(--hoverbutton);
}
.menu-button:active {
    background-color: var(--clickbutton);
}