.title {
    font-size: max(4dvh, 9dvw);
    width: 100dvw;

    padding: 0;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.6em;
    text-align: center;
}

.big-button {
    display: block;
    font-size: max(3vh, 2vw);
    
    width: max(35dvh, 40dvw);
    height: max(4dvh, 4dvw);

    margin-top: 0.4em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    background-color: var(--primary-3);
    &:hover {
        background-color: var(--primary-4);
    }
    &:active {
        background-color: var(--primary-5);
    }
}